[Unit]
Description=IOTA Node

[Service]
User=iota
WorkingDirectory=/opt/iota/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,iota_core=debug,consensus=debug,jsonrpsee=error
ExecStart=/usr/local/bin/iota-node --config-path /opt/iota/config/validator.yaml
Restart=always

[Install]
WantedBy=multi-user.target
